<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
      }
    </style>
    <title>Update Coupon</title>
  </head>
  <body class="container text-white d-flex flex-column vh-100">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>Update Coupon</h1>
        <form action="/api/coupon/update/<%= coupon._id %>" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              value="<%= coupon.name %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="count" class="form-label">Count:</label>
            <input
              type="number"
              id="count"
              name="count"
              class="form-control"
              value="<%= coupon.count %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <input
              type="text"
              id="category"
              name="category"
              class="form-control"
              value="<%= coupon.category %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              value="<%= coupon.description %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="discount" class="form-label">Discount:</label>
            <input
              type="number"
              id="discount"
              name="discount"
              class="form-control"
              value="<%= coupon.discount %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="validFrom" class="form-label">ValidFrom:</label>
            <input
              type="datetime-local"
              id="validFrom"
              name="validFrom"
              class="form-control"
              value="<%= validFrom %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="validTill" class="form-label">ValidTill:</label>
            <input
              type="datetime-local"
              id="validTill"
              name="validTill"
              class="form-control"
              value="<%= validTill %>"
              required
            />
          </div>

          <div class="mb-3 d-flex justify-content-between">
            <a href="/api/user" class="btn btn-danger bg-transparent">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
