<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-color: black;
      }
    </style>
    <title>Use API</title>
  </head>
  <body class="container text-white d-flex flex-column vh-100">
    <table class="table table-dark table-striped mt-3">
      <caption>
        Your Coupon(s)
      </caption>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Count</th>
          <th scope="col">Category</th>
          <th scope="col">Discount</th>
          <th scope="col">ValidFrom</th>
          <th scope="col">ValidTill</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% coupons.forEach(function(coupon) { %>
        <tr>
          <td>
            <%= coupon.name %></a
            >
          </td>
          <td><%= coupon.count %></td>
          <td><%= coupon.category %></td>
          <td><%= coupon.discount %></td>
          <td><%= coupon.validFrom %></td>
          <td><%= coupon.validTill %></td>
          <td>
            <a
              href="#"
              class="btn btn-primary use-coupon"
              data-id="<%= coupon._id %>"
              >Use</a
            >
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script>
      document.querySelectorAll(".use-coupon").forEach(function (link) {
        link.addEventListener("click", function (event) {
          event.preventDefault();
          var id = event.target.getAttribute("data-id");
          fetch("/api/coupon/use/" + id, { method: "POST" })
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              if (data.success) {
                alert(data.message);
                location.reload();
              } else {
                alert("Failed to use coupon: " + data.message);
              }
            })
            .catch((error) => console.error("Error:", error));
        });
      });
    </script>
  </body>
</html>
